@using Sandbox.Network
@using Sandbox.Services
@using Sandbox.UI
@using System
@inherits Panel

@namespace Menu

<root class="leader-entry">
	<div class="name">
		@Entry.DisplayName
	</div>
	<div class="value">
		@Entry.FormattedValue
	</div>
</root>

@code
{
	public Leaderboards.Entry Entry;

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Entry );
}
